In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("Resources/individual_gifts.csv", encoding = "ISO-8859-1")
df.head()

,Name,Gift Date,Gift Amount,Campaign ID,Appeal ID,Fund ID,Gift Code,Gift Reference
0,Thomas M. Sims,1/1/2014,"$1,000.00",IN14-SP,IN$$14,6010,1010 Individual Giving,IHO Evangeline Boyd
1,David D. DuBose,1/1/2014,$250.00,IN14-SP,IN$$14,6010,1010 Individual Giving,NaN
2,Marc Rietvelt,1/1/2014,$25.00,IN14-SP,IN$$14,6010,1010 Individual Giving,NaN
3,Gregory Fiete,1/1/2014,$800.00,IN14-SP,IN$$14,6010,1010 Individual Giving,NaN
4,M. Diane Dwight,1/1/2014,$500.00,IN14-SP,IN$$14,6010,1010 Individual Giving,IHO Felicia Teel and Craig Hester wedding